@import "../../../assets/css/option";


.side-nav {
  background: $side-panel-background;
  margin-top: 64px;
  width: 200px;
  box-shadow: inset 0 0 8px $main-font-color
}


.side-nav a {
  color: $main-font-color;
  font-family: $main-font;
  font-size: $side-panel-font-size;
}

.side-nav li:hover {
  cursor: pointer;
}

.button-collapse{
  cursor: pointer;
}

