@import "../assets/css/option";

.nav-wrapper {
  background: $nav-panel-background;
  font-family: $main-font;
  color: $main-font-color;
  box-shadow: inset 0 0 2px $main-font-color
}

.brand-logo {
  color: $main-font-color;
}


.nav-wrapper a {
  font-size: $nav-panel-logo-size;
}

.mat-form-field {
  width: 50px;
  text-align: center;
}

header, main, footer {
  padding-left: 300px;
}

.main_container {
  padding-top: 5px;
}

header, main, footer {
  padding-left: 300px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}

.login {
  height: 70px;
  width: 70px;
}

.right i {
  font-size: 45px;
  cursor: pointer;
}

.logo {
  font-size: 45px;
}
