
<nav>
  <div class="nav-wrapper">
    <a class="brand-logo left"><i class="material-icons logo">pets</i>PETSIK</a>
    <ul class="right">
      <li><i class="material-icons" (click) = "login1()">language</i></li>
      <li>
        <div>
          <mat-form-field>
            <mat-select (selectionChange) = "switchLanguage($event.value, select)" #select>
              <mat-option *ngFor="let currentLang of translate.getLangs()" [value]="currentLang">
                {{ currentLang }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </li>
    </ul>
    <ul class="right">
      <i class="material-icons"  href="#modal1" (click)="loginOnClick()">{{getsecurStatus()}}</i>
      <i #loginLogautBtn class="nonVisible material-icons modal-trigger"  href="#modal1"></i>
    </ul>

  </div>
</nav>

<app-side-panel></app-side-panel>

<div class="main_container">
  <router-outlet></router-outlet>
</div>

<app-login #loginComponent></app-login>



