
<nav>
  <div class="nav-wrapper">
    <a class="brand-logo"><i class="material-icons"></i>PETSIK</a>
    <ul class="right hide-on-med-and-down">
      <li><i class="material-icons">language</i></li>
      <li>
        <div>
          <mat-form-field>
            <mat-select (selectionChange) = "switchLanguage($event.value, select)" #select>
              <mat-option *ngFor="let currentLang of translate.getLangs()" [value]="currentLang" style = 'background: #43a047; color: white'>
                {{ currentLang }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </li>
    </ul>
  </div>
</nav>


<app-side-panel></app-side-panel>


<div class="main_container">
  <router-outlet></router-outlet>
</div>
