@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "assets/css/option.scss";

.mat-select {
  color: $main-font-color;
}

.mat-select-arrow {
  color: $main-font-color;
}

.mat-select-trigger {
  color: $main-font-color;
}

.mat-select-value {
  color: $main-font-color;
}

.mat-select-content {
  background: $main-background-color;
}
.mat-option {
  color: $main-font-color;
}
